<img src="https://res.cloudinary.com/dfk9gsv2s/image/upload/v1573024729/heroes/{{@avatar}}" alt="{{@hero}} Portrait"
  class="rounded-circle"
  onerror="this.src='https://res.cloudinary.com/dfk9gsv2s/image/upload/v1573024729/heroes/abathur.png'">
<h5>{{@hero}}</h5>

{{yield}}