<div class="row">
  <div class="col-12 text-center my-4">
    <img src="http://s3.hotsapi.net/img/heroes/92x93/arthas.png" alt="Arthas Portrait" class="rounded-circle"
      onerror="this.src='http://s3.hotsapi.net/img/heroes/92x93/abathur.png'">
    <h5>Arthas</h5>
    <button type="button" class="btn btn-primary">Pick Random Hero</button>
  </div>
</div>
{{yield}}