<tr>
  <th scope="row">1</th>
  <td>
    <img src="https://res.cloudinary.com/dfk9gsv2s/image/upload/v1573425064/talents/storm_ui_icon_guldan_felflame.png"
      alt="Pursuit of Flame">
  </td>
  <td>Pursuit of Flame</td>
  <td>Quest: Hit 30 enemy Heroes with Fel Flame. Reward: Fel Flame's radius is increased by 10%.</td>
</tr>