<div class="container">
    <div class="row">
        <HeroSelectPortrait avatar="http://s3.hotsapi.net/img/heroes/92x93/abathur.png"/>
        <HeroSelectPortrait avatar="http://s3.hotsapi.net/img/heroes/92x93/abathur.png"/>
    </div>
</div>
{{outlet}}