<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="http://s3.hotsapi.net/img/heroes/92x93/abathur.png" alt="abathur">
        </div>
        <div class="col-md-3">
            <img src="http://s3.hotsapi.net/img/heroes/92x93/abathur.png" alt="abathur">
        </div>
    </div>
</div>
{{outlet}}