{{outlet}}
<div class="container">
    <div class="row">
        <HeroSelectPortrait @hero="Abathur" @avatar="http://s3.hotsapi.net/img/heroes/92x93/abathur.png"/>
        <HeroSelectPortrait @hero="Abathur" @avatar="http://s3.hotsapi.net/img/heroes/92x93/abathur.png"/>
    </div>
</div>