<div class="container">
  <div class="row">
    <div class="col-12 text-center my-4">
      <h1>
        Heroes of the Storm Random Hero Selector
      </h1>
    </div>
  </div>
  <RandomHeroSelector />
  <div class="row">
    {{#each model as |hero|}}
      <HeroSelectPortrait @hero={{hero.name}} @avatar={{hero.icon_url.92x93}} />
    {{/each}}
  </div>
</div>
{{outlet}}