<div class="container">
    <div class="row">
        {{#each model as |hero|}}
            <HeroSelectPortrait @hero={{hero.name}} @avatar="http://s3.hotsapi.net/img/heroes/92x93/abathur.png"/>
        {{/each}}
    </div>
</div>
{{outlet}}